* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    display: flex;
    flex-direction: row;
}

#background {
    width: 1200px;
    height: 680px;
    background-color: black;
}

#ship {
    background-image: url('/img/ship.png');
    width: 50px;
    height: 36px;
    position: absolute;
    top: 620px;
    left: 575px;
}

#alien1 {
    background-image: url('/img/alien1.png');
    width: 50px;
    height: 50px;
    position: absolute;
}

#alien2 {
    background-image: url('/img/alien2.png');
    width: 50px;
    height: 50px;
    position: absolute;
}

#bullet {
    width: 10px;
    height: 10px;
    background-color: white;
    position: absolute;
}

#stats {
    background-color: black;
    color: white;
    font-family: monospace;
    margin-top: 30px;
}

h1 {
    color: white;
    font-family: monospace;
    text-align: center;
    margin-top: 10px;
}

.intro {
    opacity: 0;
}

#intro {
    text-align: center;
    margin-top: 50px;
}

p {
    color: white;
    font-family: monospace;
    font-size: 15px;
    margin-top: 10px;
}

#win, #lose {
    color: white;
    margin-top: 200px;
    font-size: 15px;
    font-family: monospace;
    text-align: center;
}